---
layout: base
description: >
  Template for species as feature cards, grouped per speciesGroup.
  Species are derived from _data/species.csv and filtered on those with vernacularNameEn and occurrenceCount >= 1000.
composition:
  - type: pageMarkdown
---

{% assign composition = page.composition | default: layout.composition %}
{% include composition.html composition=composition %}
{% assign taxa = site.data.species %}
{% assign filteredTaxa = "" | split: "" %}
{% for taxon in taxa %}
  {% assign occurrenceCount = taxon.occurrenceCount | times: 1 %}
  {% if taxon.vernacularNameEn != nil and occurrenceCount >= 1000 %}
    {% assign filteredTaxa = filteredTaxa | push: taxon %}
  {% endif %}
{% endfor %}
{% assign filteredTaxa = filteredTaxa | sort: "occurrenceCount" | reverse %}
{% assign groupedTaxa = filteredTaxa | group_by: "speciesGroup" | sort: "name" %}
{% assign groupNames = groupedTaxa | map: "name" %}

<section class="features">
  <div class="features-intro">
    <div class="feature-content">
      <div class="feature-text">
        {% for name in groupNames %}
          <a class="button" href="#{{ name | downcase }}">{{ site.data.translations.speciesGroups[name][page.lang] | default: name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% for group in groupedTaxa %}
  <div class="features-intro" id="{{ group.name | downcase }}">
    <div class="feature-content">
      <div class="feature-text">
        <h3 class="feature-title">
          {{ site.data.translations.speciesGroups[group.name][page.lang] | default: group.name }}
          <span class="g-text-slate-400">({{ group.size }})</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="feature-cards has-{{ group.size }}-elements">
    {% for taxon in group.items %}
      <article class="feature" id="{{ taxon.species | strip }}">
        {% assign iucn = taxon.iucnRedListCategory %}
        {% case iucn %}
          {% when "CR" %}
            {% assign iucnLabel = ' <span class="tag iucn-cr">CR</span>' %}
          {% when "EN" %}
            {% assign iucnLabel = ' <span class="tag iucn-en">EN</span>' %}
          {% when "VU" %}
            {% assign iucnLabel = ' <span class="tag iucn-vu">VU</span>' %}
          {% when "NT" %}
            {% assign iucnLabel = ' <span class="tag iucn-nt">NT</span>' %}
          {% when "LC" %}
            {% assign iucnLabel = ' <span class="tag iucn-lc">LC</span>' %}
          {% else %}
            {% assign iucnLabel = '' %}
        {% endcase %}
        {% assign vernacularNameColumn = page.lang | capitalize | prepend: 'vernacularName' %}
        {% assign vernacularName = taxon[vernacularNameColumn] | default: taxon.vernacularNameEn %}
        {% assign preTitle = taxon.species %}
        {% assign title = vernacularName | append: iucnLabel %}
        {% assign href = './occurrence/search?view=dashboard&taxonKey=' | append: taxon.speciesKey | append: '&layout=map_taxa.rank-SPECIES*datasetKey_organismId.v-TABLE' %}
        {% assign background = taxon.imageSrc | default: '/assets/species/default.png' | relative_url %}
        {% if taxon.imageBy %}
          {% assign imageLicense = 'Image by [' | append: taxon.imageBy | append: '](' | append: taxon.imageUrl | append: ')' %}
        {% else %}
          {% assign imageLicense = false %}
        {%endif %}

        {% include blocks/parts/feature.html
          content=taxon
          preTitle=preTitle
          title=title
          href=href
          background=background
          imageLicense=imageLicense
        %}
      </article>
    {% endfor %}
  </div>
  {% endfor %}
</section>
